.navbar-toggler-icon {
    padding-top: 5px;
    color: var(--primary-color);
}

#navbarSupportedContent {
    text-align: center;
}

@media screen and (max-width: 991px) {
    #navbarSupportedContent {
        background-color: var(--primary-color);
        text-align: center;
    }

}